version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      RAILS_ENV: production
      PORT: 3000
    command: ["./bin/rails", "server"]
    volumes:
      - /var/lib/miniportfolio/storage:/rails/storage
      - /var/lib/miniportfolio/storage:/app/storage
    ports:
      - "3000:3000"
    restart: unless-stopped
