<div class="page__header">
  <h1 class="page__title">About</h1>
  <!-- Replace this content with your About page text -->
</div>

<section class="about">
  <div class="about__content">
    <%= simple_format(<<~TEXT, {}, wrapper_tag: "p") %>
    Hey all! I'm Yasmine Elsen, happily married with my partner in crime! I currently live in Belgium with my somewhat big family and two cats. Let me tell something about me.

    In my early days I graduated twice as a administrative assistant. After my graduation in 2013, I started studying at the conservatorium and academy in Leuven. Visual arts was the direction I took around that time, as well as flute and music theory in the conservatorium. It took about three years before I graduated and continued my studies at home, I continued to draw the anime style and started to learn multiple other art styles. As for the conservatorium, I kept on studying for another 6 years after my graduation at the academy.

    I lived a little with my parents and later somewhat alone with my adorable cats, Kai and Nami, until I visited my at-that-time-bestie in Turkey. After a nice tour with a bus through Europe, I visited Turkey and eventually stayed there for a while. In 2022 while I still lived in Turkey, I married my bestie in march 2023. During the time we spent in Turkey, we went heavily into game development and I started to study pixel art.

    In 2024, my Fiverr started to thrive and I learned a lot from accepting different sort of game development and personal projects. Throughout the year, I developed my main style, which is whimsical, starry and dreamy.

    This is where we are right now!
    TEXT

  </div>
</section>
