@import url("./about.css");
@import url("./navbar.css");
@import url("./page.css");
@import url("./post.css");
@import url("./post-card.css");
@import url("./posts.css");
@import url("./buttons.css");
@import url("./pagy.css");
