.post-card {
  display: block;
  background: var(--color-secondary);
  border: 1px solid #263244;
  border-radius: 12px;
  padding: 0.75rem;
}

.post-card__title {
  font-family: var(--font-header);
  text-align: center;
  margin: 0.5rem 0 0;
}

.post-card__image {
  display: block;
}

.post-card__image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.post-card__link {
  text-decoration: none;
  display: block;
  color: inherit;
}
