.post-card {
  display: block;
}

.post-card__title {
  font-family: var(--font-header);
  text-align: center;
}

.post-card__image {
  display: block;
}

.post-card__image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.post-card__link {
  text-decoration: none;
  display: block;
  color: black;
}
