<div class="page__header">
  <h1 class="page__title">Portfolio</h1>
</div>
<%== @pagy.series_nav %>

<div class="posts">
  <ul class="posts__list">
    <% @posts.each do |post| %>
      <li class="posts__item post-card">
        <%= link_to post_path(post), class: "post-card__link" do %>
          <% if post.image.attached? %>
            <div class="post-card__image">
              <%= image_tag post.image, alt: post.title %>
            </div>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

